/* add tooltip detail style  */
.ikrwmap_details_container {
  width: max-content;
  max-width: 240px;
  z-index: 5;
  position: absolute;
  background: #fff;
  padding: 10px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow-wrap: break-word;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
  }

  @media screen and (max-width: 667px) {
    max-width: 130px;
    padding: 5px;

    &::after {
      border-width: 8px;
    }
  }
}


@media screen and (max-width: 667px) {
  .ikrwmap_details_container {
    max-width: 130px;
    min-width: 121px;

    .ikrwmap_details {
      padding: 0px 0px 12px;

      .ikrmap_title {
        font-size: 15px;
      }
      .ikrwmap_tooltip_button {
        font-size: 13px;
      }
      .ikrmap {
        padding-bottom: 12px;

        div {
          font-size: 11px;
          &::before {
            width: 10px;
            height: 10px;
            left: -13px;
            top: 6px;
          }
        }
      }
    }
  }
}

.ikrwmap_tooltip {
  /*pointer-events: none;
	*/
  position: absolute;
  display: none;
  font-size: 18px;
  text-align: center;
  background: white;
  padding: 10px 15px;
  z-index: 5;
  height: auto;
  line-height: 9px;
  margin: 0 auto;
  color: #21669e;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #eee;
  transform: translate(-47%, -20%);
  -webkit-transform: translate(-47%, -20%);
  -moz-transform: translate(-47%, -20%);
  -ms-transform: translate(-47%, -20%);
  -o-transform: translate(-47%, -20%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.ikrwmap_tooltip.active {
  display: block;
}
.ikrwmap_tooltip::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}
